<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900" id="main">
        <h1 class="text-7xl font-bold text-white text-center block p-5">To-Do List</h1>
        <form action="/create" method="post" class="w-full h-fit p-10 flex flex-col gap-4 items-center">
            <input type="text" name="title" placeholder="Write the title." class="min-w-96 py-2 px-5 rounded-md text-white bg-zinc-500">
            <textarea name="details" id="" placeholder="Write Some Information about it..." class="min-w-96 min-h-24 py-2 px-5 resize-none rounded-md text-white bg-zinc-500"></textarea>
            <input type="submit" value="Creat task" class="bg-blue-500 text-white px-4 py-2 rounded-md cursor-pointer">
        </form>
        <div class="tasks w-full h-fit p-10 mt-5 cards flex flex-wrap gap-4">
            <% if(files.length > 0) { %>
                <% files.forEach(function(val) { %>
                    <div class="task min-w-72 py-2 px-4 bg-zinc-500 rounded-md text-slate-100">
                        <h1 class="text-2xl"><%= val %></h1>
                        <div class="mt-3 flex items-center justify-between">
                            <a href="/files/<%= val %>" class="block text-base text-blue-400 border-blue-100 rounded-full border px-2">Read more.</a>
                            <a href="/edit/<%= val %>" class="block text-base text-yellow-400 border-yellow-100 rounded-full border px-2">Edit Filename</a>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h2 class="text-zinc-400">No tasks yet...</h2>
            <% } %>
        </div>
    </div>
</body>
</html>